<p>
  <strong>Product Name:</strong>
  <%= @order_detail.product.ProductName %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @order_detail.UnitPrice %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_detail.Quantity %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order_detail.Discount %>
</p>


